# App
APP_PORT=3001
NODE_ENV=production
CLIENT_URL=https://quan-ly-ngap-lut-phuong-tam-binh.vercel.app

# Database (Supabase PostgreSQL)
DB_HOST=aws-1-ap-northeast-1.pooler.supabase.com
DB_PORT=5432
DB_USERNAME=postgresql://postgres.sofpazigzszaotaocdou:postgres@aws-1-ap-northeast-1.pooler.supabase.com:5432/postgres
DB_PASSWORD=postgres
DB_NAME=postgres
DB_SYNC=false

# JWT
JWT_SECRET="7C#NapC^G79[c#xLW6gZ#y]w(d#>oAU^"
JWT_EXPIRES_IN=1d
JWT_REFRESH_EXPIRES_IN=7d
