# App
APP_PORT=3001
NODE_ENV=production
CLIENT_URL=https://quan-ly-ngap-lut-phuong-tam-binh.vercel.app

# Database (Supabase PostgreSQL)
DB_HOST=aws-1-ap-northeast-1.pooler.supabase.com
DB_PORT=5432
DB_USERNAME=postgres.sofpazigzszaotaocdou
DB_PASSWORD=Nhungaymai@2018
DB_NAME=postgres
DB_SYNC=false

# JWT
JWT_SECRET="7C#NapC^G79[c#xLW6gZ#y]w(d#>oAU^"
JWT_EXPIRES_IN=1d
JWT_REFRESH_EXPIRES_IN=7d

# Cloudinary
CLOUDINARY_CLOUD_NAME=dsqxl6cyb
CLOUDINARY_API_KEY=873157486266459
CLOUDINARY_API_SECRET=wh3Ocs-ikYPsqx64pQfjt36jgYE
