# App
APP_PORT=3001
NODE_ENV=production
CLIENT_URL=http://192.168.100.27

# Database (Supabase PostgreSQL)
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=postgres
DB_SYNC=true

# JWT
JWT_SECRET="7C#NapC^G79[c#xLW6gZ#y]w(d#>oAU^"
JWT_EXPIRES_IN=1d
JWT_REFRESH_EXPIRES_IN=7d

# Cloudinary
CLOUDINARY_CLOUD_NAME=dsqxl6cyb
CLOUDINARY_API_KEY=873157486266459
CLOUDINARY_API_SECRET=wh3Ocs-ikYPsqx64pQfjt36jgYE
